{% extends 'main_app/base.html' %}

{% block extrastyle %}
<link href="../../static/main_app/form.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'main_app:get_objects' %}">Objects</a>
        </li>
        <li class="breadcrumb-item active">Create</li>
    </ol>

    <form id="objectForm" method="POST"> {% csrf_token %}
        <div class="form-row">
            <label class="control-label">Object Name</label>
            <div class="col-xs-4">
                <input class="form-control" type="text" placeholder="User" />
            </div>
        </div>
        <div class="form-row">
            <label class="col-xs-1 control-label">Attribute</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="attr[0].name" placeholder="Attribute Name" />
            </div>
            <div class="col-xs-4">
                <select class="form-control" name="attr[0].type">
                    <option>Text</option>
                    <option>Integer</option>
                    <option>Decimal</option>
                    <option>Date/Time</option>
                    <option>True/False</option>
                    <option>Association</option>
                </select>
            </div>
            <div class="col-xs-2 form-check">
                <input class="form-check-input required-check" type="checkbox" value="" id="requiredCheck0" name="attr[0].required">
                <label class="form-check-label" for="requiredCheck0">
                    Required
                </label>
            </div>
            <div class="col-xs-1">
                <button type="button" class="btn btn-default addButton">+</button>
            </div>
        </div>

        <!-- The template for adding new field -->
        <div class="form-row hide" id="objectTemplate">
            <div class="col-xs-4 col-xs-offset-1">
                <input type="text" class="form-control" name="name" placeholder="Attribute Name" />
            </div>
            <div class="col-xs-4">
                <select class="form-control" name="type">
                    <option>Text</option>
                    <option>Integer</option>
                    <option>Decimal</option>
                    <option>Date/Time</option>
                    <option>True/False</option>
                    <option>Association</option>
                </select>
            </div>
            <div class="col-xs-2 form-check">
                <input name="required" class="form-check-input required-check" type="checkbox" value="" id="requiredCheckTemplate">
                <label name="requiredLabel" class="form-check-label" for="requiredCheckTemplate">
                    Required
                </label>
            </div>
            <div class="col-xs-1">
                <button type="button" class="btn btn-default removeButton">-</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-1">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
</form>
{% endblock %}

{% block extraScript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
<script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    var nameValidators = {
            row: '.col-xs-4',   // The name is placed inside a <div class="col-xs-4"> element
            validators: {
                notEmpty: {
                    message: 'The attribute name is required'
                }
            }
        },
        attrIndex = 0;

    $('#objectForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'attr[0].name': nameValidators
            }
        })

        // Add button click handler
        .on('click', '.addButton', function() {
            attrIndex++;
            var $template = $('#objectTemplate'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
                                .attr('data-attr-index', attrIndex)
                                .insertBefore($template);

            // Update the name attributes
            $clone
                .find('[name="name"]').attr('name', 'attr[' + attrIndex + '].name').end()
                .find('[name="type"]').attr('name', 'attr[' + attrIndex + '].type').end()
                .find('[name="required"]').attr('id', 'attr[' + attrIndex + '].required').end()
                .find('[name="requiredLabel"]').attr('for', 'attr[' + attrIndex + '].required').end()
                .find('[name="required"]').attr('name', 'attr[' + attrIndex + '].required').end()
                .find('[name="requiredLabel"]').attr('name', 'attr[' + attrIndex + '].requiredLabel').end();

            // Add new fields
            // Note that we also pass the validator rules for new field as the third parameter
            $('#objectForm')
                .formValidation('addField', 'attr[' + attrIndex + '].name', nameValidators)
        })

        // Remove button click handler
        .on('click', '.removeButton', function() {
            var $row  = $(this).parents('.form-row'),
                index = $row.attr('data-book-index');

            // Remove fields
            $('#objectForm')
                .formValidation('removeField', $row.find('[name="attr[' + index + '].name"]'))

            // Remove element containing the fields
            $row.remove();
        })

        // Checkbox handler
        .on('click', '.required-check', function() {
            $(this).attr()
        });
});
</script>
{% endblock %}
