{% extends 'main_app/base.html' %}

{% block content %}
<form method="post"> {% csrf_token %}
    {{ attribute_formset.management_form }}
    <table>
        {{ object_formset.as_table }}
    </table>
    <div id="attribute_form_set">
        {% for form in attribute_formset %}
            <table class="no_error">
                {{ form.as_table }}
            </table>
        {% endfor %}
    </div>

    <input type="button" value="Add More" id="add_more">
    <div id="empty_form" style="display:none">
        <table class='no_error'>
            {{ attribute_formset.empty_form.as_table }}
        </table>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
{% endblock %}

{% block extraScript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
<script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
<script type='text/javascript'>
    $('#add_more').click(function() {
        var form_idx = $('#id_attributes-TOTAL_FORMS').val();
        $('#attribute_form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_attributes-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}
