.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.breadcrumb.crud {
    padding: 0;
    margin-bottom: 0;
    background-color: white;
    border-radius: 0;
}

.object-editor-toolbar {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.object-editor-viewport {
    margin-bottom: 1rem;
}

.project-menu {
    border-right: 1px solid #ececec;
    height: 100vh;
    margin: 0px;
    padding: 0px !important;
}

.project-menu-item {
    margin: 0px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    text-align: center;
}

.project-menu-link-selected {
    color: white;
}

.project-menu-link-selected .project-menu-item {
    background-color: #888383;
}

.clickable {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
