body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root, .primary-layout, .height100 {
  height: 100%;
}

.nav {
  margin-left: -15px;
  margin-right: -15px;
}

.list-group-flush .list-group-item:first-child {
  border-top: 0px;
}

.opacity-5 {
  opacity: 1!important;
}

.clickable {
  cursor: pointer;
}
